{% extends "base.html" %}
{% block content %}

<div class="container">
   <div class="row">
      <div class="nav-menu"><span>My Library</span>
        <a href="home.html"  class="btn btn-primary btn-lg " tabindex="-1" role="button" ><i class="fa fa-home" aria-hidden="true"></i></a>
      </div>
    </div>
</div>
    <section>
      <main class="section-container">
       {% block content %}
       {% endblock %}
      </main>
    </section>

<footer class="container" id="footer">
                          <!---social media bar-->
    <div class="icon-bar row">
        <a href="https://www.facebook.com/" target="blank_"><i class="fa fa-facebook"></i></a>
        <a href="https://twitter.com/" target="blank_"><i class="fa fa-twitter"></i></a>
        <a href="https://www.google.com/" target="blank_"><i class="fa fa-google"></i></a>
        <a href="https://linkedin.com/" target="blank_"><i class="fa fa-linkedin"></i></a>
        <a href="https://www.youtube.com/" target="blank_"><i class="fa fa-youtube"></i></a>
    </div>
</footer>