body {
    width: 100vw;
    background-image: url(https://cdn.wallpapersafari.com/62/74/WigTJs.jpg); 
    background-size: cover;
    height: 100vh;
    background-position-x: center;
    background-attachment: fixed;
}
.container {
    background-color: #6f6868;
    border-radius: 15px;
    opacity: 0.8;
}
.row {
    line-height: 2.5;
    margin: 10px 0 50px 0;

           /*--CSS multi-line--*/

}
.form-row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
div.nav-menu {
    text-align: center;
}

div span {
    font-size: 50px;
    font-family: "Courier New", Courier, monospace;
    position: relative;
    bottom: 15px;
    text-shadow: black;
    text-transform: uppercase;
    font-weight: bold;
    color: #051d40;
}
.btn.btn-primary {
    float: right;
    position: relative;
    top: 22%;
    font-size: 20px;
    background-color: #040f1f;
    cursor: pointer;
    opacity: 0.6;
    transition: 0.5s;
    border: none;
}
#registration {
    background-color: #040f1f;
    cursor: pointer;
    opacity: 0.6;
    transition: 0.5s;
    border: none;
    width: fit-content;
    font-size: 16px;
    color: white;
    position: relative;
    left: 48%;
    top: 5%;

}
.menu-list {
    position: relative;
    text-align: center;
    word-spacing: 5em;
}
main {
    position: relative;
    bottom: 40px;
}

.col {
    font-family: cursive;
    font-weight: bold;
    font-size: 25px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

#footer {
    position: relative;
    opacity: 0.8;
    height: 80px;
    width: 100%;
    text-align: center;
    top:50%
}
.icon-bar {
    display: inline-block;
    font-size: 20px;
}

.form-control {
    max-width: 70%;
    margin:  5px 0 20px;
    position: relative;
}
.catalogue {
    color: #051d40;
    text-align: center;
    padding-bottom: 10px;
    font-size: 30px;
    font-weight: normal;
}
.search-form {
    border-radius: 25px;
    opacity: 0.8;
}
.fa.fa-search {
    font-size: 20px;
    color: #141619;
    position: relative;
    bottom: 5px;
}
input:focus::placeholder {
    color: transparent;
}
.book-details{
    list-style-type: none;
    margin-bottom: -15em;
    line-height: 30px;
    padding: 10em 5em 6em;
}
#books_data {
    width: 60%;
    height: 300px;
    display: none;
}
.needs-validation {
    overflow: hidden;
    line-height: 10px;
}
label {
    font-size: 20px;
    font-weight: 400;
    padding: 10px;
    color: black;
    left:51%;
}

.register {
    text-align: center;
    position: relative;
    bottom: 2.8rem;
    color: #051d40;
    padding-bottom: 10px;
    font-size: 30px;
    font-weight: normal;
}

.adding {
    text-align: center;
    position: relative;
    bottom: 4.8rem;
    color: #091d3a;
    padding-bottom: 10px;
    font-size: 30px;
    font-weight: normal;
}

.flashes {
    text-align: center;
    color: #ffbf00;
    letter-spacing: 1px;
}

.book_display {
    color: #031023;
    height: 40vw;
    text-align: center;
}
ul {
    list-style-type: none;
    margin-top: -5em;
}
li {
    padding: 15px 0 10px 10px;
    font-size: 30px;
    display: inline-block;
}

li span {
    position: relative;
    top: 0px;
    font-size: 27px;
}

.user_detail {
    color: #031023;
    margin-left: 20px;
    padding: 10px;
}
.user-details{
    margin-top: 5em;
    color:black;
}

                           /*Buttons styling*/

.btn.btn-secondary {
    position: relative;
    left: 37%;
}                        

.btn.btn-dark {
    position: relative;
    left: 48%;
    margin-top: 10px;
    margin-bottom: 5px;

}
.btn.btn-success{
    position: relative;
    bottom: -10px;
    font-size: 1rem;
}

.btn.btn-link {
    border: 1px #0d6efd solid;
    text-decoration: none;
    background-color: #ffe8e8e6;
    margin-top: -15%;
    font-size: 1rem;
}
.btn.btn-danger{
    margin-top: -15%;
    font-size: 1rem;
}


.search{
    position: relative; 
    right: 3rem; 
    
}
.remove{
    position: relative; 
    right: 3rem; 
    box-shadow: none;
}
.back{
    border: 1px #0d6efd solid;
    text-decoration: none;
    background-color: #ffe8e8e6;
    position: relative;
}
.box{
    background-color: #d9e3ec;
    margin: 25px 15px;
    width: 47%;
    border: 1px black solid;
    padding: 51px;
    line-height: 23px;
    font-size: larger;
    border-radius: 23px;
    display: inline-table;
    text-align: center;
}
.box-container{
    min-width: inherit;
    text-align: center;
}
.btn.btn-dark{
    background-color: #020202!important;
    margin-top: 5%;
}
.content-table{
    font-size: 25px;
    color:black
    ;
}
.card-header{
    color: black;
    position: relative;
    font-size: 30px;
    font-weight: normal;
}
.sell-button{
    position: relative;
    right: 1%;
    float: left;
    font-size: 1em;
}

                                      /*----responsive design------*/

@media screen and (max-width: 420px) {
    .btn.btn-primary {
        float: unset !important;
        position: relative;
        top: -30px;
    }
}
@media screen and (max-width: 780px) {
    .form-control {
        max-width: unset;
        position: unset;
    }
}

@media screen and (max-width: 420px) {
    #registration {
        font-size: 15px;
    }
}
@media screen and (max-width: 980px) {
    .btn.btn-success {
        font-size: 0.7rem;
        position: relative;
        top: 20px;
        float: right;

    }
}
@media screen and (max-width: 980px) {
    .btn.btn-link {
        font-size: 0.7rem;
        margin-right: 10%;
    }
}
@media screen and (max-width: 480px) {
    .btn.btn-danger {
        font-size: 0.7rem;
    }
}
@media screen and (max-width: 480px) {
    .btn.btn-secondary {
        font-size: 0.7rem;
    }
}

@media screen and (max-width: 1025px) {
    #footer {
        position: relative;
        top: 50%;
        left: 0;
    }
}
@media screen and (max-width: 580px) {
    .container {
        border-radius: unset;
    }
}
@media screen and (max-width: 780px) {
    li {
        font-size: 25px;
    }
}
@media screen and (max-width: 780px) {
    .user_detail {
        font-size: 25px;
        padding: 15px 0px 15px 10px;
    }
}
@media screen and (max-width: 780px) {
    .email-control {
        position: unset !important;
    }
}
@media screen and (max-width: 780px) {
    .genre {
        position: unset !important;
    }
}
@media screen and (max-width: 480px) {
    .flashes {
        bottom: 0.5rem !important;
        letter-spacing: unset;
    }
}
@media screen and (max-width: 780px) {
    .search {
        position:relative;
        right:11%;
    }
}
@media screen and (max-width: 480px) {
    .user-details {
        margin-top: 15em;
    }
}
@media screen and (max-width: 1420px) {
    .edit {
        position: relative;
        bottom:30px;
    }
}
@media screen and (max-width: 1020px) {
    .book_display {
        height: unset;
    }
}
@media screen and (max-width: 980px) {
    .box {
        width:unset;
    }
}
@media screen and (max-width: 1080px) {
    .btn.btn-dark {
        font-size: 0.7em;
        margin-top: 12%; 
        float: left;
    }
}
@media screen and (max-width: 980px) {
    .remove {
        position:unset;
    }
}