body{
    width: 100vw;
    background-image: url(https://cdn.wallpapersafari.com/62/74/WigTJs.jpg);
    background-size: cover;
    height: 100vh;
    background-position-x: center;
    background-attachment: fixed;
        
        
    }
    .container{
        background-color: #6f6868;
        border-radius: 15px;
        opacity: 0.8;
        max-height: 630px;
    }
    .row {
        line-height: 2.5;
        margin:10px 0 50px 0;
    }
    div.nav-menu{
        text-align: center;
    }

    div span {
        font-size: 50px;
        font-family: 'Courier New', Courier, monospace;
        position: relative;
        bottom: 15px;
        text-shadow: black;
        text-transform: uppercase;
        font-weight: bold;
        color: #051d40;
    }
    .btn.btn-primary{
        float: right;
        position: relative;
        top: 22%;
        font-size: 20px;
        background-color:#040f1f;
        cursor:pointer;
        opacity: 0.6;
        transition: 0.5s;
        border: none;
    }
    #registration{
        background-color:#040f1f;
        cursor:pointer;
        opacity: 0.6;
        transition: 0.5s;
        border: none;
        float: right;
        font-size: 20px;
        color:white;
    }
    .menu-list{
        position: relative;
        text-align: center;
        word-spacing: 5em;
    }
    main{
        max-height: 300px;
        position: relative;
        bottom: 40px;
}
    

    .col {
        font-family: cursive;
        font-weight: bold;
        font-size: 25px;
        display:inline-block;
        text-align: center;
        text-decoration: none;
    }
    
    #footer{   
        position: relative;
        top:100%;
        opacity: 0.8;
        height:80px;
        text-align: center;
    }
    .icon-bar{
        display: inline-block;
        font-size: 20px;
    }

    .form-control{
        max-width: 40%;
        margin:5px;
        position:relative;
        left:35px;
    }
    .catalogue{
        color:#051d40;
        text-align: center;
        padding-bottom: 10px;
    }
    .search-form{
        border-radius: 25px;
        opacity: 0.8;
    }
    .fa.fa-search{
        font-size: 20px;
        color: #141619;
    
    }
    input:focus::placeholder {
        color: transparent;
    }
    #books_data{
        width:60%;
        height: 300px;
        display: none;
    }
    .needs-validation{
        overflow: hidden;
        
    }
    label{
        font-size: 20px;
        font-weight: 400;
        padding: 10px;
        color:black;
    }

    .register{
        text-align: center;
        position: relative;
        bottom: 2.8rem;
        color: #051d40;
        padding-bottom:10px;
    }

    .adding{
        text-align: center;
        position: relative;
        bottom: 2.8rem;
        color: #091d3a;
        padding-bottom:10px;
    }

    .flashes{
        text-align: center;
        color:#2d0404;
        letter-spacing: 2px;
        position: relative;
        bottom:4rem;
    }

    .book_display{
        color: #031023;
        height: 50vw;
        display: inline-block;
        
}
ul{
    list-style-type: none;
}
li {
    padding: 15px 0 10px 10px;
    font-size: 30px;
    display: inline-block;
}

li span{
    position:relative;
    top:0px;
    font-size: 27px;
}    

.user_detail{
    color: #031023;
    margin-left: 20px;
    padding: 10px;
}
.btn.btn-danger{
    position: relative;
    left: 42%;
}
.btn.btn-secondary{
    position: relative;
    left: 37%;
}
.btn.btn-success{
    position: relative;
    left: 48%;
    margin-top: 10px;
    margin-bottom: 5px;
}

.btn.btn-link{
    position: relative;
    left: 48%;
    border: 1px #0d6efd solid;
    text-decoration: none;
    background-color: #ffe8e8e6;
    margin-top: 10px;
    margin-bottom: 10px;
}


@media screen and (max-width: 420px) {
    .btn.btn-primary {
        float: unset!important;
        position: relative;    
        top:-30px;
    }
}
@media screen and (max-width: 780px) {
    .form-control{
        max-width: unset; 
        position: unset;
    }    
}


@media screen and (max-width: 420px) {
    #registration {
        float:right!important;
        font-size:15px;
        position:unset;
    }

}
@media screen and (max-width: 480px) {
    .btn.btn-success {
        font-size: 0.7rem;
    }
}
@media screen and (max-width: 480px) {
    .btn.btn-link {
        font-size: 0.7rem;
    }
}
@media screen and (max-width: 480px) {
    .btn.btn-danger {
        font-size: 0.7rem;
    }
}
@media screen and (max-width: 480px) {
    .btn.btn-secondary {
        font-size: 0.7rem;
    }
}
@media screen and (max-width: 480px) {
    #footer {
        position: relative;
        top: 30%;
    }
}   
@media screen and (max-width: 1025px) {
    #footer {
        position: relative;
        top: 45%;
    }
}   
@media screen and (max-width: 580px) {
    .container{
        border-radius: unset;
    }    
}
@media screen and (max-width: 780px) {
    li{
        font-size: 25px;
    }    
}
@media screen and (max-width: 780px) {
    .user_detail{
        font-size: 25px;
        padding: 15px 0px 15px 10px;
}
    }    
