{% extends "base.html" %}
{% block body %}

<div class="container">
<form class="needs-validation" novalidate>
  <div class="form-row">
    <div class="col-md-12 col-mb-4">
      <label for="validationCustom01">Title</label>
      <input type="text" class="form-control" id="validationCustom01" placeholder="Insert Title" value="Mark" required>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
  </div> 
  <div class="form-row">
    <div class="col-md-8 col-mb-4">
      <label for="validationCustom02">Author</label>
      <input type="text" class="form-control" id="validationCustom02" placeholder="Insert Author" value="Otto" required>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    <div class="col-md-8 col-mb-4">
      <label for="validationCustomEmailAddress">Genre</label>
      <div class="input-group">
        <input type="text" class="form-control" id="validationCustomUsername" placeholder="Insert Genre" aria-describedby="inputGroupPrepend" required>
        <div class="invalid-feedback">
          Please enter the book genre.
        </div>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-8 col-mb-4">
      <label for="validationCustom03">Year</label>
      <input type="text" class="form-control" id="validationCustom03" placeholder="Insert year" required>
      <div class="invalid-feedback">
        Please provide a valid  year.
      </div>
    </div>
    <div class="col-md-8 col-mb-4">
      <label for="validationCustom04">Country</label>
      <input type="text" class="form-control" id="validationCustom04" placeholder="Insert Country" required>
      <div class="invalid-feedback">
        Please provide a real country
      </div>
    </div>
    <div class="col-md-8 col-mb-4">
      <label for="validationCustom05">Location</label>
      <input type="text" class="form-control" id="validationCustom05" placeholder="Location Number" required>
      <div class="invalid-feedback">
        Please provide a location in the library.
      </div>
    </div>
  </div>
  <button class="btn btn-primary registration" type="submit">Add</button>
</form>
</div>
    
        
    
<div>
    <p>add_task block</p>
</div>


{% endblock %}
