{% extends "base.html" %}
{% block body %}
<h2 class="adding">Add<strong>Book</strong></h2>
<div class="container">
<form class="needs-validation" novalidate >
  <div class="form-row">
    <div class="col-md-8 col-mb-4">
      <label for="validationCustom01">Title</label>
      <input type="text" class="form-control" id="validationCustom01" placeholder="Insert Title"  required>
      
    </div>
  </div> 
  <div class="form-row">
    <div class="col-md-8 col-mb-4">
      <label for="validationCustom02">Author</label>
      <input type="text" class="form-control" id="validationCustom02" placeholder="Insert Author"  required>
      
    </div>
    <div class="col-md-8 col-mb-4">
      <label for="validationCustomEmailAddress">Genre</label>
      <div class="input-group">
        <input type="text" class="form-control" id="validationCustomUsername" placeholder="Insert Genre" aria-describedby="inputGroupPrepend" required>
        
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-8 col-mb-4">
      <label for="validationCustom03">Year</label>
      <input type="text" class="form-control" id="validationCustom03" placeholder="Insert year" required>
      
    </div>
    <div class="col-md-8 col-mb-4">
      <label for="validationCustom04">Country</label>
      <input type="text" class="form-control" id="validationCustom04" placeholder="Insert Country" required>
      
    </div>
    <div class="col-md-8 col-mb-4">
      <label for="validationCustom05">Location</label>
      <input type="text" class="form-control" id="validationCustom05" placeholder="Location Number" required>
      
    </div>
  </div>
  <button id="regitration" class="btn btn-primary btn-lg" tabindex="-1" type="submit">Add</button>
</form>
</div>
    
        
    



{% endblock %}
