{% extends "base.html" %} {% block body %}

<div>
                          <!-- flash messages -->

    {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
        <div style="position: relative; top: -0.3em;" class="row flashes">
            <h5 class="alert">{{ message }}</h5>
        </div>
    {% endfor %} {% endif %} {% endwith %}
</div>


                        <!-----This will show the details of the book which is just added to the library---->

<div class="container box-container" style="display:table;">
    <div class="book_display row">
        <ul>
            <li>Title: {{ new_book.Title }}</li>
            <br />
            <li>Author: {{ new_book.Author }}</li>
            <br />
            <li>Genre: {{ new_book.Genre }}</li>
            <br />
            <li>Year: {{ new_book.Year }}</li>
            <br />
            <li>Country: {{ new_book.Country }}</li>
            <br />
            <li>Location: {{ new_book.Location }}</li>
            <br />
            <li>Status: <span style="color: greenyellow;" id="status_color">{{ new_book.Status }}</span></li>
            <br />
            <li>Price: {{ new_book.Price }}</li>
        </ul>
       </div>
       <button style="box-shadow: none;" class="btn btn-link" type="submit"><a href="{{ url_for('home') }}">Back</a></button>
    </div>
    


{% endblock %}