{% extends "base.html" %} {% block body %}

<div>
    {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
    <div style="position: relative; left: 3rem; bottom: 33.5rem;" class="row flashes">
        <h4>{{ message }}</h4>
    </div>
    {% endfor %} {% endif %} {% endwith %}
</div>
<div style="background-color: unset;" class="container row">
    <button style="box-shadow: none;" class="btn btn-link" type="submit"><a href="{{ url_for('home') }}">Back</a></button>
</div>

{% endblock %}