{% extends "base.html" %} {% block body %}

                              <!---flash message--->

<div>
    {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
    <div style="position: relative; bottom:-2.5rem; color: #14cc14;" class="row flashes">
        <h4>{{ message }}</h4>
    </div>
    {% endfor %} {% endif %} {% endwith %}
</div>

                       <!-----This will show the details of the user which is supposed to buy the book--->

<div class="container">
    <div class="book_display">
        <ul>
            <li>First: {{ existing_email.First }}</li>
            <br />
            <li>Last: {{ existing_email.Last }}</li>
            <br />
            <li>Dob: {{ existing_email.dob }}</li>
            <br />
            <li>Tel: {{ existing_email.Tel }}</li>
            <br />
            <li>Postcode: {{ existing_email.Postcode }}</li>
            <br />
            <li>Email: {{ existing_email.Email }}</li>
        </ul>
    </div>
</div>

                       <!------back button--->

<div style="background-color: unset; margin-top: 5px;" class="container">
    <button style="box-shadow: none;" class="btn btn-link back" type="submit"><a href="{{ url_for('home') }}">Back</a></button>
</div>

{% endblock %}