{% extends "base.html" %} {% block menu %}  {% endblock %}

<!---Homepage---->

<!-- flash messages -->




 {% block body %} 
    <div class="search-form row">
        <h2 class="catalogue">Library<strong>Search</strong></h2>
        <form class="form-inline d-flex justify-content-center md-form form-sm" style="padding-bottom: 5%; padding-left: 5%;" method="POST" action="{{ url_for('search_book') }}">
            <input class="form-control form-control-sm mr-3" style="max-width:40%;" name="search_book" type="text" placeholder="insert books location (format:A8) " aria-label="Search" required/>
            <button style="box-shadow: none;" class="btn search"><i class="fa fa-search"></i></button>
        </form>
 <div>

{% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
<div class="row flashes">
    <h5>{{ message }}</h5>
</div>
{% endfor %} {% endif %} {% endwith %}

<div class="container box-container" style="display:table;">
    {% for book in register %}
    <div class="box">
    <p>Title: {{ book.Title }}</p>
    <p>Author: {{ book.Author }}</p>
    <p>Genre: {{ book.Genre }}</p>
    <p>Year: {{ book.Year }}</p>
    <p>Country: {{ book.Country }}</p>
    <p>Location: {{ book.Location }}</p>
    <p style="color: rgb(255, 47, 47);" id="status" onmouseover="s(this)">{{ book.Status }}</p>
    <p>Price: {{ book.Price }}</p>
    <span>
    <a href="{{ url_for('edit_task', archive=book._id) }}"><button style="box-shadow: none;" method="POST" tabindex="1" value="sell_book" action="" type="submit" class="btn btn-dark">Edit</button></a>
    <a href="{{ url_for('sell_book', archive=book._id) }}"><button style="box-shadow: none;" method="POST" tabindex="1" value="sell_book" action="" type="submit" id="success" class="btn btn-success">Sell!</button></a>
    </span>
    </div>
    <script>
        function s(status){
        if(status.value=="Sold")
            {
            document.getElementById("success").disabled=true;
            }
        else{
            document.getElementById("success").disabled=false;
        }
    }
    </script>
 
   {% endfor %}
   
</div> 

{% endblock %}
    




<!--flash messages--->

