{% extends "base.html" %}
{% block menu %}
  
   <div class="menu-list row">
       <ul>
         <li class="col"><a href="{{ url_for('search_task') }}" style="text-decoration:none; color:black">Search</a></li>
         <li class="col"><a href="{{ url_for('add_task') }}" style="text-decoration:none; color:black">AddBook</a></li>
         <li class="col"><a href="{{ url_for('remove') }}" style="text-decoration:none; color:black">RemoveBook</a></li>
         <li class="col"><a href="{{ url_for('register') }}" style="text-decoration:none; color:black">RegisterUser</a></li>
        </ul>
   </div>

    

{% endblock %}
