{% extends "base.html" %} {% block body %}


               <!----flash message-->

        <div>
            {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
            <div class="row flashes">
                <h5>{{ message }}</h5>
            </div>
            {% endfor %} {% endif %} {% endwith %}
        </div>


                         <!-----registration form---->

<h2 class="register">Registration</h2>
<div class="container">
    <form class="needs-validation" novalidate method="POST" action="{{ url_for('register') }}">
        <div class="row">
            <div class="col-mb-4 form-row">
                <label for="validationCustom01">First name</label>
                <input type="text" class="form-control" name="First" id="validationCustom01" pattern="(?=.*[a-z])(?=.*[A-Z]).{2,}$" placeholder="First name(format:alphabetical characters only)" required />
                <div class="valid-feedback"></div>
            </div>
            <div class="col-mb-4 form-row">
                <label for="validationCustom02">Last name</label>
                <input type="text" class="form-control" name="Last" id="validationCustom02" pattern="(?=.*[a-z])(?=.*[A-Z]).{2,}$" placeholder="Last name(format:alphabetical characters only)" required />
            </div>
        <div>
            <div class="col-mb-4 form-row">
                <label for="validationCustomEmailAddress">Email</label>
                <div class="input-group" style="justify-content: center;">
                    <input
                        type="text"
                        class="form-control email-control"
                        name="Email"
                        id="validationCustomUsername"
                        placeholder="Email Address"
                        aria-describedby="inputGroupPrepend"
                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                        required
                    />
                </div>
                </div>
                    <div class="invalid-feedback"></div>
                </div>
            </div>
        <div class="row">
            <div class="col-mb-4 form-row" style="margin-top: -35px;">
                <label for="validationCustom03">Phone Number</label>
                <input type="text" class="form-control" name="Tel" id="validationCustom03" placeholder="format:07405572XXX" pattern="[0-9]{6,18}$" minlenght="5" maxlength="15" required />
                <div class="invalid-feedback"></div>
            </div>
            <div class="col-mb-4 form-row">
                <label for="validationCustom04">Date-of-Birth</label>
                <input type="text" class="form-control" name="dob" id="validationCustom04" placeholder="format:dd-mm-yyyy" pattern="[0-9]{2}-[0-9]{2}-[0-9]{4}" required />
                <div class="invalid-feedback"></div>
            </div>
            <div class="col-mb-4 form-row">
                <label for="validationCustom05">PostCode</label>
                <input type="text" class="form-control" name="Postcode" id="validationCustom05" placeholder="format:LB4 5LA" required />
                <div class="invalid-feedback"></div>
            </div>
            <button id="registration" class="btn" tabindex="-1" type="submit">Submit</button>
        </div>

        
    </form>
</div>

{% endblock %}
