{% extends "base.html" %}
{% block body %}

<div class="container">
<div class="row book_display">
    <ul>
        <li>Title: {{ new_book.Title }}</li><br>
        <li>Author: {{ new_book.Author }}</li><br>
        <li>Genre: {{ new_book.Genre }}</li><br>
        <li>Year: {{ new_book.Year }}</li><br>
        <li>Country: {{ new_book.Country }}</li><br>
        <li>Location: {{ new_book.Location }}</li><br>
        <li>Status: <spam style="color:#02ff02db;">{{ new_book.Status }}</spam></li>

    </ul>
    </div>
</div>

  <button style="box-shadow: none;" type="button" class="btn btn-danger">Delete</button>
  <button style="box-shadow: none;" type="button" class="btn btn-link">Cancel</button>


{% endblock %}