{% extends "base.html" %} {% block body %}

<!---remove.html template-->

<div class="container">
    <div class="search-form row">
        <h2 class="catalogue">Remove<strong>Book</strong></h2>
        <form class="form-inline d-flex justify-content-center md-form form-sm" style="padding-bottom: 5px;" method="POST" action="{{ url_for('remove') }}">
            <input style="width: 40%;" class="form-control form-control-sm mr-3" type="text" placeholder="insert book title" id="search" name="query" aria-label="Search" required />
            <button style="box-shadow: none;" type="submit" class="btn remove"><i class="fa fa-search"></i></button>
        </form>
        <!----remove_book  flash message-->
        <div class="space"></div>

        <div>
            {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
            <div style="position: unset;" class="row flashes">
                <h5>{{ message }}</h5>
            </div>
            {% endfor %} {% endif %} {% endwith %}
        </div>
    </div>
</div>
<div class="space"></div>

{% endblock %}
