{% extends "base.html" %}
{% block body %}

<div class="container">
<div  class="search-form row">
  <h2 class="catalogue">Library<strong>Search</strong></h2>
  <form  class="form-inline d-flex justify-content-center md-form form-sm">
   <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Insert Book Title"
    aria-label="Search">
     <button style="position:relative;right: 10px;box-shadow: unset;" class="btn"><i class="fa fa-search"></i></button>
  </form>
</div>
</div>

  <button style="box-shadow: none;" type="button" class="btn btn-danger">Delete</button>
  <button style="box-shadow: none;" type="button" class="btn btn-link">Cancel</button>


    


{% endblock %}