<!DOCTYPE html>
{% extends "base.html" %} {% block body %}

<!-----remove_book book flash message---->

<div>
    {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
    <div class="row flashes">
        <h5>{{ message }}</h5>
    </div>
    {% endfor %} {% endif %} {% endwith %}
</div>

<!-----This will show the details of the book which is meant to be removed-->

<div class="container box-container" style="display: table;">
    {% for user in userId %}
    <div class="box">
        <p>Firstname: {{ user.First }}</p>
        <p>Lastname: {{ user.Last }}</p>
        <p>Date of Birth: {{ user.dob }}</p>
        <p>Phone Number: {{ user.Tel }}</p>
        <p>Postcode: {{ user.Postcode }}</p>
        <p>Email: {{ user.Email }}</p>
        <span style="top:0.5em">
            <a href="{{ url_for('remove_user', userId=user._id) }}"><button style="box-shadow: none;" method="POST"
                    name="deleteUser" tabindex="1" value="remove_user" type="submit"
                    class="btn btn-danger">Delete</button></a>
        </span>
    </div>
    {% endfor %}
</div>
{% endblock %}