{% extends "base.html" %}
{% block body %}

<div class="container">
<div  class="search-form row">
  <h2 class="catalogue">Library<strong>Search</strong></h2>
  <form  class="form-inline d-flex justify-content-center md-form form-sm">
   <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Insert Book Title"
    aria-label="Search">
     <button style="position:relative;right: 10px;box-shadow: unset;" class="btn"><i class="fa fa-search"></i></button>
  </form>
</div>
</div>
<div style="background-color:unset!important;" class="container">
<div class="row ">
  <div class="table-responsive-sm">
    <table class="table table-bordered" style="background-color: #b7ababb5;">
      <thead>
        <tr>
          <th>#</th>
          <th>Title</th>
          <th>Author</th>
          <th>Genre</th>
          <th>Year</th>
          <th>Country</th>
          <th>Location</th>
          <th>Status</th>
          <th>BookId</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1.</td>
          <td>2.</td>
          <td>3.</td>
          <td>4.</td>
          <td>5.</td>
          <td>6.</td>
          <td>7.</td>
          <td>8.</td>
          <td>9.</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>
  <button style="box-shadow: none;" type="button" class="btn btn-danger">Delete</button>
  <button style="box-shadow: none;" type="button" class="btn btn-secondary">Cancel</button>


    


{% endblock %}