{% extends "base.html" %}
{% block body %}

<div class="container">
<div class="book_display">
    <ul>
        <li>Title: {{ archive.Title }}</li><br>
        <li>Author: {{ archive.Author }}</li><br>
        <li>Genre: {{ archive.Genre }}</li><br>
        <li>Year: {{ archive.Year }}</li><br>
        <li>Country: {{ archive.Country }}</li><br>
        <li>Location: {{ archive.Location }}</li><br>
        <li>Status: <spam style="color:greenyellow" id="status_color">{{ archive.Status }}</spam></li>

    </ul>
    </div>
</div>
<!----<button style="box-shadow: none;"   type="button" class="btn btn-secondary">Edit</button>---->
<div style="background-color: unset;" class="container">
    <a href="{{ url_for('search_task') }}"><button style="box-shadow: none;" formmethod="GET"  type="submit" class="btn btn-link">Cancel</button></a>
</div>
<div class="container">
    <h2 class="user_details">User's Details</h2>
<form class="needs-validation" novalidate method="POST" action="{{ url_for('register') }}">
  <div class="form-row">
    <div class="col-md-6 mb-6">
      <input type="text" class="form-control" name="First" id="validationCustom01" pattern="(?=.*[a-z])(?=.*[A-Z]).{2,}$" placeholder="First name" required>
      <div class="valid-feedback">
      </div>
    </div>
    </div>
    <div class="col-md-6 mb-6">
      <input type="text" class="form-control" name="Last" id="validationCustom02" pattern="(?=.*[a-z])(?=.*[A-Z]).{2,}$"  placeholder="Last name"  required>
    </div>
    <div class="form-row">
    <div class="col-md-6 mb-6">
      <input type="text" class="form-control" name="Tel" id="validationCustom03"  placeholder="07405572XXX" pattern="[0-9]{4}[0-9]{7}$"  minlenght="5" maxlength="15" required>
      <div class="invalid-feedback">
    </div>
    </div>
  </div>
</form>
<div style="background-color: unset;" class="container">
   <button style="box-shadow: none;"  type="button" class="btn btn-success">Borrow</button>
</div> 
{% endblock %}

