{% extends "base.html" %}
{% block body %}
<div class="container">
<div  class="search-form row">
  <h2 class="catalogue">Library<strong>Search</strong></h2>
  <form  class="form-inline d-flex justify-content-center md-form form-sm" style="padding-bottom: 5px;" method="POST" action="{{ url_for('search_task') }}">
   <input class="form-control form-control-sm mr-3 w-75" name="search_title" type="text" placeholder="insertbooktitle (lowercase no-spaces)"
    aria-label="Search">
     <button style="position:relative;right: 10px; box-shadow: unset;" class="btn"><i class="fa fa-search" ></i></button>
  </form>
  <div>
    
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="row flashes">
                       <h4>{{ message }}</h4>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    
    
</div>
</div>

</div>









{% endblock %}