{% extends "base.html" %} {% block body %}

                                    <!----This will show the details of the book which is supposed to buy--->

<div class="container box-container" style="display:table;">
    <div class="book_display">
        <ul class="box" style="width:70%">
            <li>Title: {{ archive.Title }}</li>
            <br />
            <li>Author: {{ archive.Author }}</li>
            <br />
            <li>Genre: {{ archive.Genre }}</li>
            <br />
            <li>Year: {{ archive.Year }}</li>
            <br />
            <li>Country: {{ archive.Country }}</li>
            <br />
            <li>Location: {{ archive.Location }}</li>
            <br />
            <li>Status: <spam style="color: rgb(255, 47, 47);">{{ archive.Status }}</spam></li>
            <br />
            <li>Price: {{ archive.Price }}</li>
        </ul>
    </div>
    <div style="background-color: unset;" class="container edit">
           <a href="{{ url_for('edit_task') }}"><button style="box-shadow: none;" method="POST" tabindex="1" value="sell_book" action="" type="submit" class="btn btn-dark">Edit</button></a>
           <button style="box-shadow: none;" class="btn btn-link" type="submit"><a href="{{ url_for('home') }}">Back</a></button>
    </div>
</div>

   
                                 <!------user details form-->

<div class="container user-details">
    <h2 class="user_details">Users Details</h2>
    <form class="needs-validation" action="{{ url_for('sell_book', archive=archive._id) }}" novalidate method="POST">
    <div class="form-row"style="align-items:start!important">
            <div class="col-md-6 mb-6">
                <input type="text" class="form-control" name="First" id="validationCustom01" pattern="(?=.*[a-z])(?=.*[A-Z]).{2,}$" placeholder="First name" required />
                <div class="valid-feedback"></div>
            </div>
        <div class="col-md-6 mb-6">
            <input type="text" class="form-control" name="Last" id="validationCustom02" pattern="(?=.*[a-z])(?=.*[A-Z]).{2,}$" placeholder="Last name" required />
        </div>
            <div class="col-md-6 mb-6">
                <input type="text" class="form-control" name="Email" id="validationCustom03" placeholder="Email Address" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required />
                <div class="invalid-feedback"></div>
            </div>
        </div>
        <div style="background-color: unset;" class="container">
            <button style="box-shadow: none;" method="POST" tabindex="1" value="sell_book" action="{{ url_for('sell_book',  archive=archive._id) }}" type="submit" class="btn btn-success">Sell Book!</button>
        </div>

                         <!----flash message-->

    <div>
            {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
            <div style="bottom: -0.5rem; flex-shrink: 0;background-color: unset;" class="flashes">
                <h6>{{ message }}</h6>
            </div>
            {% endfor %} {% endif %} {% endwith %}
        </div>
    </form>

    {% endblock %}
</div>
