<!DOCTYPE html>
{% extends "base.html" %} {% block body %}
{% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
<div class="row flashes">
    <h6>{{ message }}</h6>
</div>
{% endfor %} {% endif %} {% endwith %}

<div class="container box-container" style="display: table;">
    {% for user in existing_user %}
    <div class="box">
        <p>Firstname: {{ user.First }}</p>
        <p>Lastname: {{ user.Last }}</p>
        <p>Date of Birth: {{ user.dob }}</p>
        <p>Phone Number: {{ user.Tel }}</p>
        <p>Postcode: {{ user.Postcode }}</p>
        <p>Email: {{ user.Email }}</p>
        <form action="{{ url_for('user_details', existing_user=user._id) }}" method="POST">
            <span style="top:0.5em">
                <button style="box-shadow: none;" name="deleteUser" tabindex="1" value="removeUser" type="submit"
                    class="btn btn-danger">Delete</button>
            </span>
        </form>
    </div>
    {% endfor %}
</div>
{% endblock %}